#errorMessage {
    font-size: 20px;
    color:rgb(211, 29, 29)
}

.sucessMsg {
    font-size: 20px;
    color:rgb(14, 145, 36)
}

.deleteMsg {
    font-size: 20px;
    color:rgb(35, 211, 53)
}

.editMsg{
    font-size: 20px;
    color:rgb(35, 211, 53)
}

.editerrorMsg{
    font-size: 20px;
    color:rgb(211, 29, 29)
}